body {
  background-color: rgb(66, 95, 95);
  /* background-image: url("https://picsum.photos/id/885/1200/600"); */
}

.board {
  min-height: 400px;
}

.ui-menu {
  color: tan;
}

.container {
  background-color: rgb(66, 95, 95);
}

.board {
  float: left;
  width: 50%;
  height: 100%;
  object-fit: fill;
}

/* .ui-fluid-image {
  height: 100%;
  width: 100%;
  background-image: url("https://picsum.photos/id/888/1200/600");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
} */

/* ui-fluid-image {
  background-image: url("https://picsum.photos/id/885/1200/600");
} */

img {
  width: 100%;
  height: auto;
}
